.about-container {
  .header {
    font-size: 2.5em;
    color: #bd93f9;
  }

  .divider {
    background-color: #505262;
    height: 2px;
    margin: 10px 0;
  }

  .about-desc {
    font-size: 1.2em;
    margin-bottom: 30px;
    .first-p {
      .first-name {
        color: #ff78c6;
      }
      margin-bottom: 20px;
    }
  }

  .technologies {
    color: #6272a4;

    .tech-second,
    .tech-third {
      margin-top: 10px;
      color: #fff;
      .topic {
        color: #ff78c6;
      }
    }
  }
}
