.sidebar-container {
  display: flex;
  flex-direction: row;

  /* SIDEBAR HEIGHT WILL AUTO ADJUST WHEN A TAB HAS A HEIGHT OF OVER A 100VH */
  overflow: hidden;
}
.sidebar {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 360px;
  background-color: #3d435b;
  height: 100vh;

  /* SIDEBAR HEIGHT WILL AUTO ADJUST WHEN A TAB HAS A HEIGHT OF OVER A 100VH */
  margin-bottom: -5000px;
  padding-bottom: 5000px;
}
.closed {
  width: 70px;
}
.button-container {
  position: absolute;
  top: 5px;
  left: 3px;
}
