.sidebar-container {
  position: sticky;
  top: 0;
}
.sidebar-closed {
  height: 100vh;
  width: 70px;
  background-color: #3d435b;
}
.button-container {
  position: absolute;
  top: 5px;
  left: 3px;
}
