.projects-container {
  a {
    color: #ffadff;
  }
  .header {
    font-size: 2.5em;
    color: #bd93f9;
  }

  .divider {
    background-color: #505262;
    height: 2px;
    margin: 10px 0;
  }
  .intro {
    font-size: 1.2em;
  }
  .projects-list {
    margin-top: 40px;

    .proj {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: flex-start;
      width: 70vw;
      margin-top: 50px;
      gap: 40px;

      .proj-left {
        font-size: 1.2em;
        .proj-title {
          color: #bd93f9;
          font-size: 2em;
        }
        .proj-tools {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          gap: 20px;
          height: 50px;
          .javascript {
            width: 35px;
          }
          .react,
          .python {
            width: 25px;
          }
          .mui {
            width: 35px;
            height: 50px;
          }

          .nodejs {
            padding-top: 10px;
            height: 30px;
            width: 30px;
          }

          .mongodb {
            width: 40px;
            height: 45px;
          }
        }

        .proj-links {
          display: flex;
          flex-direction: row;

          justify-content: space-evenly;
          width: 100%;
        }
      }
      .proj-right img {
        min-width: 400px;
        max-width: 500px;
      }
    }
  }
}
